# Base Configuration
API_BASE_URL=https://dev-api.example.com
APP_NAME=FlutterBaseTemplate
ENVIRONMENT=development

# App Settings
ENABLE_LOGGING=true

# DATABASE
DATBASE_NAME=dbName

# API Keys
ANALYTICS_KEY=your-analytics-key
MAPS_KEY=your-maps-key

# Feature Flags
ENABLE_PUSH_NOTIFICATIONS=true
ENABLE_ANALYTICS=true
